

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.inputEmail {
  margin: 15px 0;
  /* padding: 12px 20px; */
  width: 100%;
  border: none;
  border-bottom: 1px solid;
  border-color: #010101;
  outline: none;
  transition: border-color 0.3s;
  /* background-color: #fff3ee; */
}

.inputEmail:focus {
  border-color: #666;
}

.subscribeButton {
  background-color: var(--cta);
  border: none;
  border-radius: 5px;
  color: #fefdfd;
  cursor: pointer;
  font-size: inherit;
  margin: 15px 0;
  padding: 12px 20px;
  width: 100%;
  transition: background-color 0.3s;
}

.subscribeButton:hover {
  background-color: #b1aebb;
}

@media (max-width: 480px) {
  .form {
    padding: 10px;
  }

  .input-email {
    padding: 8px 12px;
    font-size: 0.9em;
  }

  .subscribe-button {
    padding: 8px 12px;
    font-size: 0.9em;
  }
}