:root {
  --primary: #b1aebb;
  --cta: #5f43b2;
  --base: #fefdfd;
  --black: #010101;
  --fullwidth: 100%;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--base);
  color: (var(--base));
  font-family: 'Inter', sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 0.875rem;
  /* color: #3a3153; */
}

